#main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.solucion-contenedor {
  width: 30%;
  position: relative;
}
.solucion-imgContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.solucion-img {
  width: 70%;
}
.solucion-texto i {
  display: block;
}
.solucion-textoContainer {
  color: #222;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #111;
  display: flex;
  align-items: center;
  text-align: center;
  width: 40%;
}
.titulo-texto {
  font-size: 4rem;
}
.buscar-contenedor {
  width: 30%;
  position: relative;
}
.buscar-imgContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.buscar-img {
  width: 50%;
}
.buscar-texto i {
  display: block;
}
.buscar-textoContainer {
  position: absolute;
  color: #222;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
